.sidebar-base {
    text-decoration: none;
    color: black;
}

.sidebar-section-normal {
    font-size: 1.5rem;
}

.sidebar-section-highlight {
    font-size: 1.5rem;
    color: red;
}

.sidebar-item-normal {
}

.sidebar-item-highlight {
    color: red;
}
