#nav {
  line-height: 2.5rem;
}

#show-sidebar {
  display: none;
  background: none;
  border: none;
  padding: .5rem 1.5rem;
  font-size: 1.5rem;
  font-style: normal;
  color: black;
  text-decoration: none;
}

.nav-home {
  display: inline-block;
  padding: .5rem 1.5rem;
  font-size: 1.5rem;
  font-style: normal;
  color: black;
  text-decoration: none;
}

.nav-links {
  margin: 0;
  position: absolute;
  padding: .75rem 1.5rem;
  right: 0rem;
  top: 0rem;
  display: flex;
  list-style: none;
  padding-left: 0;
}

@media (max-width: 700px) {
  #show-sidebar {
    display: inline-block;
  }
  .nav-links {
    display: none;
  }
}

.nav-link-item {
  padding-right: 2rem;
}

.nav-link-text {
  font-style: normal;
  color: black;
  text-decoration: none;
}
